.loader{
    height: 5rem;
    transform-origin: bottom center;
    /* infinite makes animation continuous*/
    animation: rotate 3s linear infinite;
}

.circle{
    /* make the circles go around */
    display: inline-block;
    background-color: chocolate;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 1.3s linear infinite;
    /* make the two circle closer */
    margin: -1rem;
}

.circle:nth-child(2){
    background-color: firebrick;
    animation-delay: 0.5s;
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

@keyframes grow{
    50%{
        /* scale for size */
        transform: scale(.7);
    }
}