*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    line-height: 1.6;
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}